#main_div{
    background : green;
}
.title{
    padding : 5px;
    color : white;
}
.ui-widget-overlay.modal-opened{
    background: rgb(0, 0, 0);
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}
.ui-widget-header {
    border: 1px solid #3e47ac;
    background: #474747;
    color: #00ffff;
}